
*.html
__MACOSX/._dummy
__MACOSX/._fonts
__MACOSX/._images
__MACOSX/._js
__MACOSX/._sass
*.png
*.jpg
*.css
*.js
*.otf
*.woff
*.svg
*.ttf
*.eot
*.htc
*.map
__MACOSX/sass/libs/._bootstrap-grid
__MACOSX/sass/._pages
__MACOSX/sass/._libs
__MACOSX/sass/._layout
__MACOSX/js/._min
__MACOSX/js/._ie-support
